.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 70px;
}

.footer{
    margin-top: 80px;
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: #161616;
    max-width: 100%;
    height: 300px;
}
.footer h1{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.footer-text{
    margin-top: 50px;
    text-align: center;
    color: white;
}

/* .extra-info, .social-links{
    display: flex;
    margin: 0px 110px;
    justify-content:space-evenly; 
} */
/* responsive for mobiledevice */
@media screen and (max-width:576px){
    .course-1, .course-2, .course-3, .course-4, .course-5, .course-6{
        flex-direction: column;
    }
    .img{
        width: 100%;
    }
    .ready-to-join{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}